<div class="wrapper">
	<div class="d-flex">
		<div [class.toggled]="toggled" class="sidebar">
			<a class="sidebar-brand">Club Malaca</a>
			<ul class="sidebar-nav">
				<li class="sidebar-header">
					Analítica
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link">
						<i class="fas fa-chart-line"></i>
						<span class="ml-2">Métricas</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link">
						<i class="fas fa-file"></i>
						<span class="ml-2">Informes</span>
					</a>
				</li>
				<li class="sidebar-header">
					CRM
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link">
						<i class="fas fa-users"></i>
						<span class="ml-2">Usuarios</span>
					</a>
				</li>
				<li class="sidebar-header">
					Configuración
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link">
						<i class="fas fa-basketball-ball"></i>
						<span class="ml-2">Actividades</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link">
						<i class="fas fa-layer-group"></i>
						<span class="ml-2">Instalaciones</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link">
						<i class="fas fa-clock"></i>
						<span class="ml-2">Horarios</span>
					</a>
				</li>
				<li class="sidebar-item">
					<a class="sidebar-link">
						<i class="fas fa-cog"></i>
						<span class="ml-2">Ajustes</span>
					</a>
				</li>
			</ul>
		</div>
		<div class="main">
			<nav class="navbar navbar-expand navbar-light bg-white">
				<a class="fas fa-bars fa-2x nav-icon" (click)="toggle()"></a>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item" ngbDropdown placement="bottom-right">
							<a class="nav-icon" id="dropdownMessages" ngbDropdownToggle>
								<i class="far fa-comment"></i>
							</a>
							<!-- mock para mensajes -->
							<div ngbDropdownMenu aria-labelledby="dropdownMessages" class="dropdown-menu dropdown-menu-lg">
								<div class="dropdown-menu-header">
									<div class="position-relative">1 mensaje</div>
								</div>
								<div class="list-group">
									<a class="list-group-item">
										<div class="row no-gutters align-items-center">
											<div class="col-2">
												<img src="../../assets/img/no-user.jpg" class="avatar img-fluid rounded-circle" alt="Ashley Briggs">
											</div>
											<div class="col-10 pl-2">
												<div class="text-dark">Ramón Abad</div>
												<div class="text-muted small mt-1">message mock</div>
												<div class="text-muted small mt-1">hace 15m</div>
											</div>
										</div>
									</a>
								</div>
								<div class="dropdown-menu-footer">
									<a class="text-muted">Mostrar todos los mensajes</a>
								</div>
							</div>
						</li>
						<li class="nav-item" ngbDropdown placement="bottom-right">
							<a class="nav-icon" id="dropdownAlerts" ngbDropdownToggle>
								<i class="far fa-bell-slash"></i>
							</a>
							<div ngbDropdownMenu aria-labelledby="dropdownAlerts">

							</div>
						</li>
						<li class="nav-item" ngbDropdown placement="bottom-right">
							<a class="nav-icon" id="dropdownUserMenu" ngbDropdownToggle>
								<span class="d-none d-sm-inline-block">
									<img src="../../assets/img/no-user.jpg" class="avatar img-fluid rounded-circle mr-2">
									<span class="fs-3">UserName</span>
								</span>
							</a>
							<div ngbDropdownMenu aria-labelledby="dropdownUserMenu" class="dropdown-menu dropdown-menu-lg">
								<a class="dropdown-item" [routerLink]="profileLink" routerLinkActive> Perfil </a>
								<a class="dropdown-item" [routerLink]="businessLink" routerLinkActive> Empresa activa </a>
								<a class="dropdown-item" [routerLink]="businessesLink"> Mis empresas</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item"> Ajustes </a>
								<a class="dropdown-item"> Ayuda </a>
								<a [routerLink]="loginLink" class="dropdown-item"> Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<div class="content">
				<div class="container-fluid p-0">
					<router-outlet></router-outlet>
				</div>
			</div>
		</div>
	</div>
</div>
